.flex-center-column {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: $redBis;
    border-radius: 5px;
    cursor: pointer;
}