@import './variables.scss';

#contact_modal {
  display: none;
  background-color: rgba(255, 255, 255, 0.783);
  z-index: 4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  @include flex-spacer;
  flex-direction: column;
  border-radius: 5px;
  background-color: $orangeBis;
  max-width: 40%;
  padding: 20px 35px;
  margin: 60px auto;
  @include shadow;
  position: relative;

  &__heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    &-flex {
      @include flex-spacer;
    }
    &-police {
      font-size: 2.2rem;
    }
  }
  &__closeBtn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 25px;
    > .fa-solid {
      font-size: 2rem;
      color: $red;
    }
  }
}

.contact {
  &__form {
    @include flex-column;
    width: 100%;
    margin-top: 20px;
  }
  &__label {
    color: #312e2e;
    font-size: 1rem;
    font-weight: bold;
  }
  &__input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;

    &--message {
      width: 100%;
      border: none;
      border-radius: 5px;
      height: 140px;
      resize: none;
      margin-top: 5px;
    }
  }
  &__btn.btn {
    width: 140px;
    font-size: 1rem;
    &:hover {
      border: solid 1px $black;
    }
  }
}
