@import './variables.scss';

.photograph-header {
  background-color: $greyLight;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -30px;

  &__description {
    @include flex-column;
    width: fit-content;
    height: fit-content;

    > h1 {
      font-size: 3.3em;
      font-weight: 500;
    }
    > .card__location {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
    > .card__tagline {
      font-size: 1rem;
    }
  }
  &__profilePic-Container {
    width: fit-content;
    height: fit-content;
  }
}
.sort {
  width: 20%;
  @include flex-spacer;
  padding: 20px 0;

  > label {
    width: 50%;
    font-size: 1.1rem;
    font-weight: 900;
    margin-left: 40px;
  }
  > select {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: $red;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    border: none;
  }
}

.medias {
  &__section {
    @include flex-centered;
    position: relative;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px;
    gap: 40px 40px;
    grid-template-areas:
      '. . .'
      '. . .'
      '. . .';

    width: 87%;
    height: 550px;
    padding: 3%;
    margin-bottom: 200px;
    aspect-ratio: 1/1;

    overflow: scroll;
  }
}

.media {
  &__container {
    width: 100%;
    height: 200px;
    &--infos {
      @include flex-spacer;
    }
    &--likes {
      @include flex-spacer;
      cursor: pointer;
    }
  }
  &__img {
    @include mediaGallery;
  }
  &__video {
    @include mediaGallery;
  }
  &__title {
    color: $red;
    font-size: 1.2rem;
  }
}

.fa-heart {
  color: $red;
  margin-left: 5px;
}

.totalLikes-container {
  @include flex-spacer;
  position: absolute;
  z-index: 2;
  padding: 20px 30px;
  bottom: 200px;
  right: 6.5%;
  width: 250px;
  height: fit-content;
  background-color: $orangeBis;
  border-radius: 5px 5px 0 0;
  font-weight: 900;
}
