$red: #901C1C; // primary
$redBis: #911C1C;
$orange: #D3573C; // secondary
$orangeBis: #DB8876;
$grey: #525252;
$greyLight: #757575;
$greyOpacity: rgba(196, 196, 196, 0.4);
$black: #000000;
$blackLight: #312E2E;
$white:#fffefc